:root {
    --scatter-color-table: magma;
}

html {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* remove browser scrollbars */
}

#host {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

#host gleam-pane.content > inset-layout {
    --inset-px: 20 20 20 20;
}

#host scatter-painter {
    --variable-color-table: var(--scatter-color-table);
}

#host bar-axis-painter gradient-painter {
    --color-table: var(--scatter-color-table);
}
