html {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* remove browser scrollbars */
}

#host {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

#host gleam-pane.content > inset-layout {
    --inset-px: 20 20 20 20;
}

#host gleam-pane.plot-center > basic-line-painter {
    --line-mode: step-up-down;
    --line-step-align: centered-on-datapoint;
    --line-step-risers: on;
    --line-thickness-px: 2;

    --dot-mode: solo;

    --fill-mode: vertical;
    --fill-baseline: 0;
}

#host gleam-pane.plot-center > basic-line-painter.A {
    --line-color: rgb( 255,0,0 );
    --fill-color: rgba( 255,0,0, 0.45 );
}

#host gleam-pane.plot-center > basic-line-painter.B {
    --line-color: rgb( 64,99,230 );
    --fill-color: rgba( 64,99,230, 0.45 );
}
